body{
  margin: 14.91px;
}

.lab{
  background-color: yellow;
  padding: 7px;
  margin-left: 500px;
  width: 147px;
  height: 49px;
}
.es{
  background-color: #C70039;
  padding: 7px;
  margin-left: 500px;
  width: 147px;
  height: 49px;
}
