body{
  margin-top: 63.91px;
  font-size: 39.9px;
}

.lab{
  display: inline-block;
  background-color: yellow;
  margin-left:7px;
  padding: 7px;
  height: 105px;
  width: 385px;
}
.es{
  display: inline-block;
  background-color: #C70039;
  margin-left: 7px;
  padding: 7px;
  height: 105px;
  width: 385px;
}
